<a href="/areas">Areas Index</a> | <a href="/climbs">Climbs Index</a>
<h1>Climbs</h1>
<ul>
    <% @climbs.each do |climb| %>
        <li><strong><%= climb.name %></strong></li>
        <ul>
            <li>Created At: <%= climb.created_at %></li>
        </ul>
    <% end %>
</ul>